<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/test.css" />
    <title>Hello Fiber!</title>
</head>
<body>
    <div class="container">
        <h1>Hello Fiber!</h1>
        <p>This page was returned as <span style="font-size: 32px; color: red;">HTML</span> by... </p>
        <img src="/public/img/fiber.png" width="250" />
    </div>

    <div class="container">
        <h3>Make an AJAX call to request data</h3>
        <button onclick="makeAjaxCall()">Fire AJAX</button>
    </div>
    
    <script src="/public/js/test.js"></script>
</body>
</html>